
/*注释*/
           /* "#"是id选择器，点是class选择器,  target:_blank;在新界面打开一个网页*/




     /*链接相关样式*/
     a:link{ color:black;}  /*默认为白色*/
     a:visited {color:white;}  /*已访问链接 */
     a:hover {color:black;}  /* 鼠标移动到链接上 */
     a:active {color:#0000FF;}  /* 鼠标点击时 */
     a {
     text-decoration:none;
	 }	
	 
	 /*横向div*/
	.div-inline { display:inline;} 
	a {
     text-decoration:none;
	}	
    /*顶部导航栏部分*/ #top {
	 margin-top:0px;
	 width:100%;
	 height:40px;
	 background-color:#00CCFF;/*水蓝色*/
	}
	/*ul 去掉前面的小黑点*/
	 ul.shuiping
      {
		list-style-type:none;	
	  }	 
    li.quxiao {
        list-style: none; 
	}		
    /*li格式部分*/	  
	li.top-first{
	    margin-top:8px;
       float: left; 
	   margin-left:80px;
	}	
    li.top-center{
	  margin-top:8px;
      float:left;
	  margin-left:15px;
	  color: white;
      text-align: center;
	  display: block;
	}	
	/* li.top-last{
     float:right;
	 margin-right:15px;
	}	 */
    /*中间陪衬部分*/	
	#center {
	 margin-top:5px;
	 width:100%;
	 height:40px;
	 background-color:#8E8E8E;
	}
	li.center-first {
	   float: left; 
	   margin-left:120px;
	   font-size:25px;
	   list-style-type:none;	
	}
	#searchbox{
		float:right;
		font-size: 14px;
		width: 340px;
        margin: 3px auto;	
	}
	#searchbox-last{
		width:78px;
        height:32px;
        float:right;
        background:black;
        color:white;
        text-align:center;
        line-height: 32px;/*高度*/
        cursor: pointer;/*移动显示为手*/	
	}
	/*input样式*/
	input.search{
		width: 260px;
        border: 1px solid #e2e2e2;
        height: 30px;
        float: left;
		/*
        background-image: url(images/search.jpg);
        background-repeat: no-repeat;图片不重复
        background-size: 25px;
        background-position:5px center;*/
        padding:0 0 0 0;		
	}
    /*左边主体*/
	#center-left{
	  float:left;
	  margin-top:10px;
	  margin-left:120px;
	  height:580px;
	  width:600px;
	  background-color:#F5F5F5;
	  border:2px dotted;
	}	
	#center-left li{
	 text-decoration: underline;
	}	
	#center-left a{
	  color:black;
	  font-size:20px;		
	}
	#center-left a:hover{
	  text-decoration-line: underline;/*修改为有下划线*/
      text-decoration-style: solid;/*设置为默认*/
      text-decoration-color: currentcolor;/*修改下划线颜色*/
      color:#00CCFF;	  
	} 
	/*左边下*/
	#center-left-bottom{
	 /*background-color:blue;*/
	 width:580px;
	 margin-left:15px;
	 height:50px;
	}
	.last{
	 
	 float:right;
	 margin-top:1px;
	 margin-right:0px;	
	}

	
