<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <script src="js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.3.0/dist/echarts.min.js"></script>
  </head>
  <style>
    #isCheck{
      color:blue;
      margin-top: 50px;
    }
  </style>
  <body>
      <div id="app">{{item}}
      <div>
        <select v-model="selected" @change="gaibian">
          <option disabled value="">请选择</option>
          <option value="1">A</option>
          <option value="2">B</option>
          <option value="3">C</option>
          <option value="4">D</option>
        </select>
        <span>Selected: {{ selected }}</span>
        <button @click="stopAuto">点击停止</button>
        <button @click="autoRe">点击重新开始</button>
      </div>
      <label type="checkbox" v-for="item in items" :for="item">
        <input type="checkbox" :value="item" v-model="dataArray">{{item}}
      </label>

    </div>
    <br/><br/>

    <div id="main" style="width: 600px;height:400px;"></div>
    <input id="isCheck" type="checkbox" >自动更新</input>
  
    <select multiple="multiple">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    

    <label><input name="Fruit" type="checkbox" value="1" checked/>苹果 </label> 
    <label><input name="Fruit" type="checkbox" value="2" />桃子 </label> 
    <label><input name="Fruit" type="checkbox" value="3" />香蕉 </label> 
    <label><input name="Fruit" type="checkbox" value="4" />梨 </label> 
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        item: "我是CTL",
        SHE: "Sakura Ayane",
        selected:"",
        num: -1,
        test:{
          listId:1
        },//测试用
        dataArray:[],// checkbox数组
        items:["a","b","c","d"],
      },
      create(){
        // autoRe()
      },
      methods:{
           //自动刷新
          autoRe(){
           var that = this 
           this.num = setInterval(
              function(){
                console.log("证明运行了")
              },2000)
           console.log(this.num)
          },
          //停止setInterval
          stopAuto(){
            console.log(this.num)
            clearInterval(this.num)
          },
          gaibian(){
            console.log(this.selected)
            if(this.selected==4){
              this.stopAuto()
            }
            else if(this.selected==1){
              this.autoRe()
            }
          }
      }
    });

      // 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));
// 指定图表的配置项和数据
var option = {
    title: {
        text: 'ECharts 入门示例'
    },
    tooltip: {},
    legend: {
        data:['销量',"sakura"]
    },
    xAxis: {
        data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
    },
    yAxis: {},
    series: [{
        name: "销量",
        type: 'bar',
        data: [5, 20, 36, 10, 10, 20]
    },{
      name: "sakura",
        type: 'bar',
        data: [5, 20, 36, 10, 10, 20]
    }]
};

//传入x,y
function getSeries(x,y){
  var series =[] //初始化数组
  var one ={
     name:"",//名字
     type:"line",
     data:[] //数据
  }
  return series;
}

// console.log(option.series[0].data)
// setTimeout(function(){
//   option.series[0].data=[10,20,30,40,50,60]
//   myChart.setOption(option);
// },1000)

// setTimeout(function(){
//   console.log(option.series[0].data)
// },1000)
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);


function getvalue() {
        var obj =document.getElementsByName("Fruit");
        var data = [];
        for(k in obj){
            if (obj[k].checked){
                data.push(obj[k].value)
            }
        }
        return data.toString();
    }

var x = getvalue()
var a = [1,2,3,4,77,88]
var b=[]

for(let i=0;i<a.length;i++){
  let x={
    name:"11",
    address:"22",
    age:26
  }
  b.push(x)
}
console.log(b)

function setArray(len,x){
        let a = []
        for(let i=0;i<len;i++){
            a.push(x)
        }
        return a;
    }
var m = [[1,2,3,5,6],[4,5,6],[7,88,99]]
console.log(m)
console.log(m[0].length)

let array = [1,2,3,4]
console.log(array.indexOf(4))

console.log(array)

  </script>
</html>
