
/*注释
background-color:#FF6600;橘色
background-color:#F5F5F5;白灰
   */
           /* "#"是id选择器，点是class选择器,  target:_blank;在新界面打开一个网页*/
		
	
	/*更多链接*/
	.more {
		float:right;
		margin-right:0px;
		margin-top:30px;
		/*background-color:#00CCFF;*/
		height:20px;
		width:40px;		
		font-size:12px;
		text-align:center;
	}
		
	/*链接相关样式*/
     a:link{ color:white;}  /*默认为白色*/
     a:visited {color:white;}  /*已访问链接 */
     a:hover {color:black;}  /* 鼠标移动到链接上 */
     a:active {color:#0000FF;}  /* 鼠标点击时 */
     a {
     text-decoration:none;
	}	
	/*横向div*/
	.div-inline { display:inline;} 
    /*顶部导航栏部分*/
    #top {
	 margin-top:0px;
	 width:100%;
	 height:50px;
	 background-color:#00CCFF;/*水蓝色*/
	}
	
	/*ul 去掉前面的小黑点*/
	 ul.shuiping
      {
		list-style-type:none;	
	  }	  
    /*li格式部分*/	  
	li.top-first{
       margin-top:10px;
       float: left; 
	   margin-left:80px;
	}	
    li.top-center{
		margin-top:10px;
      float:left;
	  margin-left:15px;
	  color: white;
      text-align: center;
	  display: block;
	}		
	li.top-last{
     float:right;
	 margin-right:5px;
	}		
	
	/*中间靠上头条内容*/
	#center-top{
	 margin-top:10px;
	 height:200px;
	 background:url("./img/4.png") no-repeat;
	 background-size:130px 130px;
     background-color:#F5F5F5;	 
     border:2px solid red;	
     	 
	}
	
	/*中间主体部分*/
	
	/*左边主体部分*/
	#center-left{
	float:left;
	margin-top:10px;
	margin-left:0px;
	height:648px;
	width:23%;
    /*background-color:#00CCFF;	*/
	}
	/*左上*/
	#center-left-top{
	float:left;
	margin-left:0px;
	margin-top:0px;
	background-color:#F5F5F5;
    width:98%; 
    height:330px;	
	border:2px groove;
	border-top-color:red;
	}
	/*左上超链接样式*/
    #center-left-top a {
		padding-top:20px;
		font-size:18px;
		color:black;	
	}
	#center-left-top a:hover {
	color:#FF702D;
    text-decoration-line: underline;/*修改为有下划线*/
    text-decoration-style: solid;/*设置为默认*/
    text-decoration-color: currentcolor;/*修改下划线颜色*/		
	}
	
	/*左下*/
	#center-left-bottom{
	float:left;
	margin-top:10px;
	width:98%;
	height:300px;
	background-color:#F5F5F5;	
	border:2px groove;
	border-top-color:red;
	}
	/*左下超链接样式*/
	#center-left-bottom a{
		padding-top:20px;
		font-size:18px;
		color:black;
	}
	#center-left-bottom a:hover {
	 text-decoration-line: underline;/*修改为有下划线*/
	 font-size:130%;	
	}
	
	/*中间主体部分*/
	#center-center{
	float:left;
	margin-left:1%;
	margin-top:10px;
	background-color:#00CCFF;	
	width:51%;
	height:646px;
	border:1px solid;
	}
	
	/*右边主体*/
	#center-right{
	float:left;
	margin-left:1.2%;
	margin-top:10px;
	width:23%;
	height:648px;
	/*background-color:#00CCFF;*/
	}
	/*右上*/
	#center-right-top{
	float:right;
	width:100%;
    height:330px;
	margin-top:0px;
	margin-right:0px;
	background-color:#F5F5F5;
	border:2px groove;
	border-top-color:red;
	}
	
	#center-right-top a{
	 color:black;
	 font-size:18px;	
	}
	#center-right-top a:hover {
	color:#00CCFF;
	}
	/*右下*/
	#center-right-bottom{
	 float:right;
	 width:100%;
	 height:300px;
	 margin-top:10px;
	 background-color:#F5F5F5;
	 border:2px groove;
	 border-top-color:red;
	}
	#center-right-bottom li{
	 text-decoration: underline;	
	}
	#center-right-bottom a{
	 color:black;
	 font-size:18px;	
	}
	#center-right-bottom a:hover {
	color:#00CCFF;
	}
	
	
	/*底端相关信息条目*/
    
	#bottom-footer{
	float:left;
	margin-top:20px;
	width:100%;
	height:43px;
	background-color:gray;	
	text-align:center;
	}
	#bottom-footer a{
	 font-size: 23px;
	 padding-left:20px;
	 padding-right:15px;
	 margin-top:0px;	
	}	
	#bottom-footer a:hover {
	color:#FF702D;
    text-decoration-line: underline;/*修改为有下划线*/
    text-decoration-style: solid;/*设置为默认*/
    text-decoration-color: currentcolor;/*修改下划线颜色*/
	}
	
	#bottom{
	float:left;
    margin-top:0px;
    background-color:#FF6600;	
	width:100%;
	height:210px;
	text-align:center;
	}
	h1{
		color:red;	
		margin-top:10px;
	}
	h2 {
		text-align:center;
		margin-top:0px;
		color:black;
		margin-left:30px;
	}
	
	
/*下面的是复制的*/
.mySlides {display:none;}
 
/* 幻灯片容器 */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}
 
/* 下一张 & 上一张 按钮 */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;  /*transition属性，定义*/
  border-radius: 0 3px 3px 0;
}
 
/* 定位 "下一张" 按钮靠右 */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
 
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
 
/* 标题文本 */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
 
/* 数字文本 (1/3 等) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
 
/* 标记符号 */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
 
.active, .dot:hover {
  background-color: #717171;
}
 
/* 淡出动画 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
 
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*复制的登录界面*/
	
	
	/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* 所有的登录按键 */
.login{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin:5px 0;
    border: none;
    cursor: pointer;/**/
    width: 100%;
}
/*浅色*/
.login:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancel {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/*Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
/*登录界面头像*/
img.avatar {
	width:200px;
	height:200px;
    /*width: 20%;*/
    border-radius: 50%;/*圆角边框*/
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* 登录界面默认模版，一般隐藏*/
.modal {
    display: none; /* 默认隐藏 */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}



	
	
	
	
	
	
	
	
	
	
	
	
	
		   
   
	